<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>Inicio</a>
        <a href={% url "empleados" %}>Empleados</a>
    </nav>
       <h1>Crear empleado</h1>

    <form action={% url "crear_empleado" %} method="POST">
        {% csrf_token %}
        {% comment %} v1
            
        <p>
            Nombre
            <input type="text" name="nombre">
        </p>
        <p>
            Apellido
        <input type="text" name="apellido">
        </p>
        <p>
            DNI
            <input type="number" name="dni">
        </p>
        <p>
            Sector
            <input type="text" name="sector">
        </p>
        <p>
            Puesto
            <input type="text" name="puesto">
        </p>
        {% endcomment %}    
        <table>
            {{formulario}}
        </table>      
        <input type="submit" value='Crear Empleado'>
    </form>

</body>
</html>